<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.2/r-2.2.9/datatables.min.css"/>
 
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="javascript\manageRequest.js" type="text/javascript"></script>
    <title>Manage Requests</title>
</head>
<body>
    
    {{> sidebar viewFlag=viewFlag mReqFlag=mReqFlag mUserFlag=mUserFlag}}

    <div class="container-start with-sidebar" style="padding-left: 100px; padding-right: 100px; overflow: auto;">

        <h1>REQUEST DATABASE</h1>
        <div class="h-spacer50"></div>

        <div class="container-table">

            <table id="requeststable" class="display nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col" data-priority="3"><div class="thead_label">Activity ID</div></th>
                        <th scope="col" data-priority="1"><div class="thead_label">Activity Name</div></th>
                        <th scope="col" data-priority="3"><div class="thead_label">Date Submitted</div></th>
                        <th scope="col" data-priority="3"><div class="thead_label">Posting Date</div></th>
                        <th scope="col" data-priority="2"><div class="thead_label">Status</div></th>
                        <th scope="col"><div class="thead_label">Assigned Pubs</div></th>
                        <th scope="col"><div class="thead_label">Assigned Secretariat</div></th>
                        <th scope="col"><div class="thead_label">Media Link</div></th>
                        <th scope="col"><div class="thead_label">Caption</div></th>
                        <th class="btn-col" data-priority="1"></th>
                    </tr>
                </thead>
                <tbody id = "request_data">
                    {{#each request_data}}
                    <tr>
                        <td class = "activity_id">{{this.request_id}}</td>
                        <td class = "activity_name" style="max-width: 14ch;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                            <div class="table-data-cut">{{this.activity_name}}</div>
                        </td>
                        <td>{{this.submitted_date}} </td>
                        <td>{{this.posting_date}} {{this.posting_time}}</td>
                        <td class="status-col">{{this.status}}</td>
                        <td><div class="table-data-cut" id = "pubNameee">{{this.pubName}}</div></td>
                        <td><div class="table-data-cut" id = "secNameee">{{this.secName}}</div></td>
                        <td>{{this.pubLink}}</td>
                        <td><div class="table-data-cut">{{this.caption}}</div></td>
                        <td class="btn-col" scope="row">
                            <a class="edit"
                            data-bs-toggle="modal" data-bs-target="#requestdetailsModal">+Details</a>
                            <i class="bi-trash-fill btn-icon" type="button" id= "btn_delete" style = "border: none; background: none; padding-left: 10px; padding-right: 5px;"
                            data-bs-toggle="modal" data-bs-target="#removerequestModal"></i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div> 

         <!-- REQUEST DETAILS MODAL -->
        
        <div class="modal fade" id="requestdetailsModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- EDIT REQUEST DETAILS -->
                <div class="modal-body">
                    <form method = "post" action = "/add_request">
                        <div class="col form-row"><label>Date Submitted:</label> <label class = "dateSub"> Loading... </label> </div>
                        <div class="row form-row">
                            <div class="col col-md-">
                                <label for="status">Status</label>
                                <select style='font-family: "OpenSans-Bold", Sans-Serif;' class="form-select"  id = "status" name = "status" disabled>
                                    <option class="not_started" value = "Not Started">Not Started</option>
                                    <option class="in_progress" value = "In Progress" selected>In Progress</option>
                                    <option class="finished" value = "Finished">Finished</option>
                                </select>
                            </div>

                            <div class="col col-md-9">
                                <label for="medialink">Media Link</label>
                                <input type="text" class="form-control" name = "medialink" id="medialink" placeholder="..." disabled>
                            </div>

                        </div>

                        <div class="row form-row">
                            <div class="col">
                                <label for="caption">Caption</label>
                                <textarea type="text" class="form-control" name = "caption" id="caption" placeholder="..." disabled></textarea>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class = "col">
                                <label for="pub">Assigned Pub</label>
                                    <div id = "assignedPub">
                                        <div>Loading...</div>
                                    </div>
                            </div>
                            <div class = "col">
                                <label for="secretariat">Assigned Secretariat</label>
                                <div class="col" id = "assignedSec">
                                    <div>Loading...</div>
                                </div>
                            </div>
                        </div>

                        <div class="h-spacer20"><hr></div>

                        <div class="row form-row">

                            <div class="col">
                                <label for="req_id">Activity ID </label>
                                <input type="text" class="form-control" name="req_id" id="req_id" placeholder="1" disabled>
                            </div>
                            
                            <div class="col">
                                <label for="reqname">Name </label>
                                <input type="text" class="form-control" name = "reqname" id="reqname" placeholder="LAST NAME, First Name" disabled>
                            </div>
                            
                            <div class="col">
                                <label for="committee">
                                    Committee
                                </label>
                                <select style='font-family: "OpenSans", Sans-Serif;' class="form-select" id = "committee" name = "committee" disabled>
                                    <option value = "" style="display: none;">Select Committee</option>
                                    <option value = "Activities">Activities</option>
                                    <option value = "Finance">Finance</option>
                                    <option value = "HRD">HRD</option>
                                    <option value = "TND" selected>TND</option>
                                    <option value = "P-EVP">P-EVP</option>
                                    <option value = "Secretariat">Secretariat</option>
                                    <option value = "Externals">Externals</option>
                                    <option value = "SocioCivic">Socio Civic</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="h-spacer20"><hr></div>
                        
                        <div class="row form-row">
                            <div class="col">
                                <label for="activity_name">Activity Name</label>
                                <input type="text" class="form-control" name = "activity_name" id="activity_name" placeholder="..." disabled>
                            </div>
                        </div>
                        
                        <div class="row form-row">
                            <div class="col">
                                <label for="activity_name">Description</label>
                                <textarea type="text" class="form-control" name = "description" id="description" placeholder="..." disabled></textarea>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col">
                                <label for="start_date_form">Start Date
                                    <span class="error-message" id="date_error"></span>
                                </label>
                                <div class="input-group" id="start_date_form">
                                    <input type="date" class="form-control" name = "start_date" id="start_date" disabled>
                                    <input type="time" class="form-control" name = "start_time" id="start_time" value="11:00" disabled>
                                </div>
                            </div>

                            <div class="col">
                                <label for="end_date_form">End Date <span class="asterisk">*</span></label>
                                <div class="input-group" id="end_date_form">
                                    <input type="date" class="form-control" name = "end_date" id="end_date" disabled>
                                    <input type="time" class="form-control" name = "end_time" id="end_time" value="14:00" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col">
                                <label for="reqname">Venue <span class="asterisk">*</span></label>
                                <input type="text" class="form-control" name = "venue" id="venue" placeholder="if online, please put URL" disabled>
                            </div>
                            <div class="col">
                                <label for="reqname">Theme</label>
                                <input type="text" class="form-control" name = "theme" id="theme" placeholder="..." disabled>
                            </div>
                        </div>

                        <div class="h-spacer20"><hr></div>

                        <label>Type of publication :</label>
                        <div class="row form-row">
                            <div class="col btn-group" role="group">

                                <input type="radio" class="btn-check pubType" name="pubType" value="poster" id="type_poster" autocomplete="off" checked disabled>
                                <label class="btn btn-outline-dark" for="type_poster">Poster</label>

                                <input type="radio" class="btn-check pubType" name="pubType" value="album" id="type_album" autocomplete="off" disabled>
                                <label class="btn btn-outline-dark" for="type_album">Album</label>

                                <input type="radio" class="btn-check pubType" name="pubType" value="video" id="type_video" autocomplete="off" disabled>
                                <label class="btn btn-outline-dark" for="type_video">Video</label>

                                <input type="radio" class="btn-check pubType" name="pubType" value="fb_cover" id="type_fbcover" autocomplete="off" disabled>
                                <label class="btn btn-outline-dark" for="type_fbcover">FB Cover</label>

                                <input type="radio" class="btn-check pubType" name="pubType" value = "other" id="type_other"  autocomplete="off" disabled>
                                <label class="btn btn-outline-dark" for="type_other">Other</label>

                            </div>  
                        </div>

                        <div class="row form-row">
                            <div class="col">
                                <input type="text" class="form-control" name = "type_other_value" id="type_other_value" placeholder="Other Type*" disabled>
                            </div> 
                        </div>

                        <div class="row form-row">
                            <label for="posting_date_form">Posting Date</label>
                            <div class="col col-7" id="posting_date_form">
                                <div class="input-group">
                                    <input type="date" class="form-control" name = "posting_date" id="posting_date" disabled>
                                    <input type="time" class="form-control" name = "posting_time" id="posting_time" value="11:00" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col" id="postevent_form">
                            Will you be posting a post-event post (for post-event caption)
                            <div class="btn-group" role="group">
                                <input type="radio" class="btn-check postevent" name="postevent" value="no" id="postevent_no" autocomplete="off" checked disabled>
                                <label class="btn btn-outline-dark" for="postevent_no">No</label>

                                <input type="radio" class="btn-check postevent" name="postevent" value="yes" id="postevent_yes" autocomplete="off" disabled>
                                <label class="btn btn-outline-dark" for="postevent_yes">Yes</label>
                            </div>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col">
                                <label for="files_url">Link to Related Files (if applicable)</label>
                                <input type="text" class="form-control" name = "files_url" id="files_url" placeholder="...  " disabled>
                            </div>
                        </div>

                        <div class="h-spacer20"><hr></div>

                        <div class="row form-row">
                            <div class="col">
                                <label for="details">Details</label>
                                <textarea type="text" class="form-control" name = "details" id="details" placeholder="..." disabled></textarea>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col">
                                <label for="comments">Comments</label>
                                <textarea type="text" class="form-control" name = "comments" id="comments" placeholder="..." disabled></textarea>
                            </div>
                        </div>

                        <div class="row form-row">
                            <div class="col">
                                <label for="specialRequest">Special Request</label>
                                <textarea type="text" class="form-control" name = "specialRequest" id="specialRequest" placeholder="..." disabled></textarea>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btn-edit" class="btn btn-edit">Edit</button>
                    <button type ="submit" id="btn-save" class="btn btn-save" data-bs-dismiss="modal">Save changes</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    

        <!-- REMOVE REQUEST WARNING MODAL -->
        <div class="modal fade" id="removerequestModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <div class="modal-body">
                    Delete request? This action is irreversible.
                    <p id = "error">{{error}}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                    <button id = "btnRemoveRequest" type ="submit" class="btn btn-delete" data-bs-dismiss="modal">Delete</button>
                </div>
                </div>
            </div>
        </div>

    <!-- Request Updated Notification -->
    <div class="notif hidden">
        Updating request info...
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.2/r-2.2.9/datatables.min.js"></script>

    <script>
        $.extend( $.fn.dataTable.defaults, {
            responsive: true
        } );
 
        $(document).ready(function() {
            $('#requeststable').DataTable({
                columnDefs: [
                    { orderable: false, targets: 9 }
                ]
            });
        } );
    </script>

</body>
</html>